$bg1: #eee;
$bg2: lighten(#F5FCF7, 1%);

$msmall: "all and (max-width: 820px)";
$mbig: "all and (min-width: 821px)";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(to right, $bg1 50%, $bg2 50%);
  -webkit-font-smoothing: antialiased;
}

main {
  max-width: 960px;
  margin: auto;
  background: linear-gradient(to right, $bg1 40%, $bg2 40%);
  padding: 30px 20px;

  a {
    $color: #1C2F3D;
    font-size: 1rem;
    color: $color;
    border-bottom: 1px solid $color;
    text-decoration: none;

    &:hover, &:focus {
      border-bottom: none;
    }
  }
}

.section-title {
    color: #333;
    font-size: 2rem;
    font-family: $sans-serif;
    margin: 30px 0 60px 0;
}

@media #{$msmall} {
  body { background: $bg2; }
  main { background: $bg2; }
}
